.galaxia1 {
  background-color: #0E103D;
  border: 5px solid #00D4FF;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
  z-index: 100;
  width: 500px;
}

.galaxia1 h2 {
  font-size: 24px;
  color: #00D4FF;
  text-align: center;
  margin-bottom: 15px;
}

.galaxia1 .descripcion {
  text-align: center;
  margin-bottom: 20px;
  margin: 10px;
  font-size: 20px;
}

.galaxia1 p {
  color: #BBDEF0;
  text-align: center;
  line-height: 1.4;
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.galaxia1 button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
  margin: 30px 120px;
  text-align: center;
}

.galaxia1 button:hover {
  background-color: #ff5e5b;
  transform: scale(1.05);
}

.contenedor_preguntas {
  background-color: #0E103D;
  border: 5px solid #00D4FF;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
  width: 700px;
  height: 43%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin: 0 auto;
  display: none;
}

.encabezado {
  background-color: #0E103D;
  border: 5px solid #00D4FF;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: relative;
  background: white;
  width: 96%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.categoria {
  opacity: 0.3;
  text-align: left;
}

.pregunta {
  padding: 10px;
  text-align: center; 
}

.imagen {
  object-fit: cover;
  max-width: 100%; 
  height: 200px;
  margin-bottom: 20px;
}

.btn {
  background-color: #0E103D;
  border: 3px solid #00D4FF;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: white;
  width: 100%;
  max-width: 550px;
  padding: 10px;
  margin: 5px auto; /* Agregamos esta línea para centrar los botones horizontalmente */
  cursor: pointer;
  text-align: center;
}


.numero {
  position: absolute;
  opacity: 0.3;
  top: 10px;
  right: 10px;
}

.puntaje {
  padding: 10px;
  color: white;
  text-align: center;
}




/* ***************** PLANETAS ***************** */


/* Plantea1 */
#planeta1 {
  position: absolute;
  background-color: #D2D2C2;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  padding: 20px;
  z-index: 100;
  display: none;
  width: 500px;
}

#planeta1 h2 {
  font-size: 24px;
  color: black;
  text-align: left;
  margin-bottom: 15px;
}

#planeta1 .contenido {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

#planeta1  img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  border-radius: 50%;
}

#planeta1 .descripcion {
  flex-grow: 1;
}

#planeta1 p {
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 10px;
}



/* PLANETA 2 */
#planeta2 {
  position: absolute;
  background-color: #FFBF00 ;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  padding: 20px;
  z-index: 100;
  display: none;
  width: 500px;
}

#planeta2 h2 {
  font-size: 24px;
  color: black;
  text-align: left;
  margin-bottom: 15px;
}
#planeta2 .contenido {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

#planeta2  img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  border-radius: 50%;
}
#planeta2 .descripcion {
  flex-grow: 1;
}

#planeta2 p {
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* PLANETA 3 */
#planeta3 {
  position: absolute;
  background-color: #0072BB ;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  padding: 20px;
  z-index: 100;
  display: none;
  width: 500px;
}

#planeta3 h2 {
  font-size: 24px;
  color: black;
  text-align: left;
  margin-bottom: 15px;
}
#planeta3 .contenido {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

#planeta3  img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  border-radius: 50%;
}
#planeta3 .descripcion {
  flex-grow: 1;
}

#planeta3 p {
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* PLANETA 4 */
#planeta4 {
  position: absolute;
  background-color: #E05128 ;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  padding: 20px;
  z-index: 100;
  display: none;
  width: 500px;
}

#planeta4 h2 {
  font-size: 24px;
  color: black;
  text-align: left;
  margin-bottom: 15px;
}
#planeta4 .contenido {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

#planeta4  img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  border-radius: 50%;
}
#planeta4 .descripcion {
  flex-grow: 1;
}

#planeta4 p {
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 10px;
}