body {
  font-family: 'Comic Sans MS', cursive;
  /* Fuente amigable para ni침os */
  margin: 0;
  padding: 0;
  background-image: url('../img/fondo.jpg');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titulo {
  font-size: 36px;
  color: #00D4FF;
  text-align: center;
  margin-bottom: 20px;
}

.dificultad {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  width: 450px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #0E103D; /* Fondo azul oscuro */
  border: 5px solid #00D4FF; /* Borde azul brillante */
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos horizontalmente */
  justify-content: center; 
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.card h3 {
  font-size: 24px;
  color: #00D4FF; /* Texto azul brillante */
  text-align: center;
  margin-bottom: 15px;
}

.card p {
     /* Estilos para los p치rrafos de la Galaxia */
     font-size: 16px;
     color: #BBDEF0; /* Texto azul claro */
     text-align: center;
     line-height: 1.4;
     margin-bottom: 10px;
}

.btn-seleccionar {

  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  font-size: 18px;
  cursor: pointer;
  margin: 30px 160px;
}

.btn-seleccionar a {
  text-decoration: none;
  color: #fff;
}

.btn-seleccionar:hover {
  background-color: #ff5e5b;
  transform: scale(1.05); 
}


.modulo-parental {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; /* Cambiamos la distancia entre los divs */
  margin-left: 20px;
  margin-right: 20px;
}

.btn-modulo-parental {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6b6b; /* Mismo color que los otros botones */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  cursor: pointer;
  margin: 10px 160px; /* Cambiamos el tama침o del bot칩n y la distancia */
}

.btn-modulo-parental:hover {
  background-color: #ff5e5b; /* Cambiamos el color al pasar el mouse */
  transform: scale(1.05);
}

.btn-modulo-parental a{
text-decoration: none;
color: #fff;
}